<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div id="fondo1">
    <form  #formUser="ngForm" (ngSubmit)="onLoginUser()" class="form-signin">
        <div class="form-group container col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
            <input type="user" name="user" #nombre="ngModel" [(ngModel)] = "loginFormData.user" class="form-control" placeholder="User or E-mail" required>
        </div>
        <div class="form-group container col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
            <input type="password" name="password" #pasword="ngModel" [(ngModel)] = "loginFormData.password" class="form-control" placeholder="Password" required>
        </div>
        <input type="submit" value="Sig IN" class="container col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4 btn btn-primary mb-2">
   </form>
</div>